<launch>
    <node name="elevator_navigation" pkg="elevator_navigation" type="elevator_navigation" output="screen">
        <param name="elevator_nav_server_name" value="/ropod/take_elevator" />
        <param name="mn_nav_topic" value="/route_navigation/goal" />
        <param name="elevator_waypoints_server" value="/get_elevator_waypoints" />
        <param name="topology_node_server" value="/get_topology_node" />
        <param name="door_status_detection_server" value="/get_door_status" />
        <param name="floor_detection_server" value="/floor_detection_server" />
        <param name="map_switcher_server" value="/map_switcher/change_map" />
        <param name="init_pose_topic" value="/initialpose" />
    </node>
</launch>
